<% unless @category.nil? %>
  <h3><%= @category.name %></h3>
  <ul>
    <% @category.articles.each do |article| %>
      <li><%= link_to article.title, category_article_path(@category, article) %></li>
    <% end %>
  </ul>

<% else %>
  <h3><%= @tag.name %></h3>
  <ul>
    <% @tag.articles.each do |article| %>
      <li><%= link_to article.title, tag_article_path(@tag, article) %></li>
    <% end %>
  </ul>
<% end %>
